*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif 'Courier New', Courier, monospace;
}
body{
    background: url(road.jpg)no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    opacity: 1.6;
}
.container{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    /* background-color: rgb(95, 73, 73); */
    padding: 10px 10px;
    margin: 100px auto;
    width: 350px;
    height: 60%;
    color: #fff;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
}
h2{
    font-size: 2.5vw;
    padding: 4px 8px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}
.input{
    position: relative;
    width: 100%;
    width: 30px;
    margin-bottom: 30px;
}
.input1{
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    width: 320px;
    height: 100%;
    padding: 2px 6px;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}
::placeholder{
    color: white;
    font-size: 1.1vw;
}
.input i{
    font-size: 1.2vw;
    position: relative;
    right: -300px;
    bottom: 25px;
    color: #fff;
}
.check {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    color: #fff;
    font-size: 1.3vw;
}

.check a{
    text-decoration: none;
    color: #fff;
}
.check a:hover{
    text-decoration: underline;
}
button{
    background-color: crimson;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    font-size: 1.2vw;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}
.sign-in{
    display: flex;
    justify-content: center;
    font-size: 1.2vw;
}
p{
    font-size: 1.2vw;
    color:#fff;
}
.sign-in a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3vw;
    font-weight: bold;
}
.sign-in a:hover{
    text-decoration: underline;
}
